body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    margin-top: 15px;
}

footer .col-4 ul {
    list-style: none;

}

footer .col-4 li {
    margin-bottom: 10px;
    margin-right: 5px;
  
}

footer .col-4 svg{
    color: #fff;
    font-size: 18px;
  
}

footer .col-4 span {
    vertical-align: middle;
    font-size: 16px;
}

footer .col-4 a {
    color: #fff;
    text-decoration: none;
}

footer .col-4 a:hover {
    color: #ddd;
}

footer .bg-success {
    background-color: #28a745;
}

footer .bg-info {
    background-color: #17a2b8;
}

footer p {
    margin: 0;
}


footer .list-unstyled li {
    margin-bottom: 10px;
    display:block;
}

footer .social li{
    display:inline-block;
    margin-right: 5px;
}



@media screen and (max-width: 481px) {
    body {
        font-size: 60%;
    
    }
}
